* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter;
}

h2, h3, p, button {
    margin: 0;
}

.main-container {
    width: 350px;
    height: 600px;
    min-width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}    

#top-section {
    padding: 1em;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#h2-head {
    text-align: center;
    color: #e4deff;
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}

.input * {
    display: block;
}

.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(105, 67, 255);
}

#input-el {
    font-size: 3.5rem;
    text-align: center;
    width: 2ch;
    background-color: inherit;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: #FFF;
    font-weight: 900;
    padding: 4px 20px;
    transition: .1s ease;
    margin-bottom: 0.4em;
}

#input-el:focus{
    outline: 0;
}

#convert-btn {
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

#convert-btn:hover{
    background-color: #1F2937;
    color:#CCC1FF;
    border: none;
    transform: scale(1.04);
}

#btm-section {
    width: 100%;
    height: 60%;
    padding: 1em;
    background-color: #1F2937;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.conversion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #273549;
    gap: 0.5em;
    padding: 1em;
    border-radius: 5px;
}

.conversion > h3 {
    font-size: 1.05rem;
    font-weight: 600;
    color: #CCC1FF;
}

p {
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
}

/* Media Queries */

/* xs */
@media (min-width: 475px) {
    .main-container {
        width: 450px;
        height: 590px;
    }

    #top-section {
        gap: 1em;
    }

    #h2-head {
        font-size: 1.7rem;
    }

    #convert-btn {
        font-size: 1.05rem;
        margin-top: -0.6em;
    }   


    #btm-section {
        justify-content: space-evenly;
    }

    .conversion {
        gap: 0.7em;
    }

    .conversion > h3 {
        font-size: 1rem;
    }

    p{
        font-size: 1.15rem;
    }
}

/* sm */
@media (min-width: 640px) {

    .main-container {
        height: 600px;
    }

    #convert-btn {
        font-size: 1.1rem;
        margin-top: -0.7rem;
    }   

    .conversion > h3 {
        font-size: 1.2rem;
    }

    p{
        font-size: 1.1rem;
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */